<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runhuo.live.dao.LogTMapper">

    <insert id="insertLog">
        insert into LogT (logInfo, time)
        values (#{logInfo}, #{time});
    </insert>
    <select id="getLog" resultType="com.runhuo.live.entity.LogT">
        SELECT logInfo,time FROM LogT where time between #{startTime} and #{endTime};
    </select>
</mapper>