<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runhuo.live.dao.StatusTMapper">

    <insert id="insertStatusLog">
        insert into StatusT (id,logTime,logInfo) values (#{id}, #{logTime}, #{logInfo});
    </insert>
    <select id="getStatusTById" resultType="com.runhuo.live.entity.StatusT">
        select logTime,logInfo from StatusT where id=#{id};
    </select>
</mapper>